#head {
  color: black;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 10px;
  height: 50px;
  width: 20%;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.name {
  padding: 5px;
  margin: 10px;
}
.hobbies {
  height: 200px;
  width: 20%;
  padding: 5px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgray;
}
.intrests {
  height: 200px;
  width: 20%;
  padding: 5px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgray;
}
.style {
  height: 80%;
  width: 50%;
  margin-left: 30%;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.website {
  height: 80%;
  width: 50%;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
}
.form {
  height: 80%;
  width: 50%;
  padding-top: 20px;
  margin: 10px;
  border: 0px solid black;
  border-radius: 10px;
  text-align: center;
  /* background-color: lightgray; */
  justify-content: center;
}
.table {
  /* background-color: lightgray; */
  margin-left: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border-collapse: collapse;
}
#head:hover {
  color: blue;
}
.name:hover {
  color: red;
  background-color: yellow;
  cursor: pointer;
}
.hobbies:hover {
  background-color: aqua;
}
.intrests:hover {
  background-color: aqua;
}
#style:hover {
  background-color: lightblue;
}
.form:hover {
  background-color: lightblue;
}
.table:hover {
  background-color: gray;
}
input:hover {
  border: 2px solid black;
  flex-grow: 1px;
  background-color: lightgray;
}
